html *
{

  font-family: 'Lato', sans-serif;
}
.w300{
    font-weight: 300;
}
.pad5{
  padding: 5px;
}
.chartdisplayer{
  height:32em !important;
}
.green{
  color:#fff !important;
}
.green:hover{
  color:#fff !important;
  background-color: #449d44 !important;
}
.chartpadder{
  padding: 10px 10px 10px 10px;
}
.prediction{
      padding: 0px 0px 10px;
}
* {
  margin: 0;
}
h1,h2,h3,h4,h5,p{
  margin-bottom: 20px;
}
.pad10{
  padding:10px;
}
.cards{
  -webkit-box-shadow: 1px 1px 17px 0px rgba(50, 50, 50, 0.58);
    -moz-box-shadow: 1px 1px 17px 0px rgba(50, 50, 50, 0.58);
    box-shadow: 1px 1px 17px 0px rgba(50, 50, 50, 0.58);
    padding: 10px 10px 10px 10px;
}

#exTab2 h3 {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

.data-padder{
      padding: 15px 10px 10px 20px;
}
   
/* .row {
  display: flex;
  flex-wrap: wrap;
} */
#chartContainer{
  height: 370px;
   width: 100%;
}
html, body{
  height:100%;
  margin:0;
  padding: 0;
  transition: background-color .5s;
}
.text-center{
	text-align: center !important;
}
.overlay{
  background-color: rgba(0,0,0,0.5);
  height:54em;
}
.drop>li>a:hover {
    color: #fff !important;
    text-decoration: none;
    background-color: #286090 !important;
}
.gen{
  color:#fff !important;
  background-color: #fa971d !important;
}
.gen:hover{
  color:#fff !important;
  background-color: #fa971d !important;
}
.sectOne{
  background-image: url("https://s3.amazonaws.com/pantomathimages/computer_chart_3.jpg");
}
.sectTwo{
  background-image: url("https://s3.amazonaws.com/pantomathimages/computer_chart_2.jpg");
}
.sectThree{
  background-image: url("https://s3.amazonaws.com/pantomathimages/computer_chart_1.jpg");
}
.sect{
  height:54em;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position:center;
}
.subSect{
    height: 32em;
    background-color: #fff;
}
.padupbtn{
     position: relative;
    bottom: 30em;
}
.navigation-adjust{
  z-index:10;
      position: relative;
}
#changer{position:relative;}
#changer img{position:absolute;z-index:1}
#changer img.active{z-index:3}
.pageDetail{
     top: 28em;
         position: relative;
}
.CoverImage{
  width:100%;
  height:54em;
  background-size: cover;
  position:fixed;
}
.overlay-btn{
	background-color: transparent;
	border-style: double;
	border-color: #fff;
}
.icon-bar{
	color:#FFF;
}
.collapsed{
	background-color: transparent;
	border-style: double;
	border-color: #FFF;
}
.nav-color{
	background-color: transparent !important;
	border-color: transparent !important;
}

/*buttons*/
.custom-btn {
  color:#fff !important;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}
/**** BTN No. 1 ****/

.btn-1 {border: 2px solid #fff;}
.btn-1:hover {
  background: #fff !important;
  color: #000 !important;
}
.btn-1:active {top: 2px;}
.pad-btn-reg{
	padding: 25px 0px 0px 50px !important;
}
.pad-btn-signup{
	padding: 25px 50px 0px 20px !important;
}

#chartdiv {
  width: 100%;
  height: 400px;
}
.fixer{
  width:16em;
  position:fixed;
}
#server-log {
  width: 100%;
  height: 200px;
  overflow: scroll;
  background: #ffffe0;
  border: 1px dotted #cdcdcd;
}

.sidebar{
  -webkit-box-shadow: 2px 1px 3px 0px rgba(50, 50, 50, 0.36);
-moz-box-shadow:    2px 1px 3px 0px rgba(50, 50, 50, 0.36);
box-shadow:         2px 1px 3px 0px rgba(50, 50, 50, 0.36);

}
.headerbar{
      background-color: black;
    color: white;
    border-radius: 10px;
}
.padleft{
  padding-left:35px;
}
.gauge{
      position: relative;
    left: 185px;
}

.panel-heading .accordion-toggle:after {

  font-family: "Glyphicons Halflings"; 
  content: "\e114"; 
  float: right; 
  color: grey; 
}
.panel-heading .accordion-toggle.collapsed:after {

  content: "\e080";
}
