* {
  margin: 0;
}
h1,h2,h3,h4,h5,p{
  margin-bottom: 20px;
}
.cards{
  -webkit-box-shadow: 1px 1px 17px 0px rgba(50, 50, 50, 0.58);
    -moz-box-shadow: 1px 1px 17px 0px rgba(50, 50, 50, 0.58);
    box-shadow: 1px 1px 17px 0px rgba(50, 50, 50, 0.58);
    padding: 10px 10px 10px 10px;
}
.data-padder{
      padding: 15px 10px 10px 20px;
}
   
/* .row {
  display: flex;
  flex-wrap: wrap;
} */
#chartContainer{
  height: 370px;
   width: 100%;
}
html, body{
  height:100%;
  margin:0;
  padding: 0;
  transition: background-color .5s;
}
.text-center{
	text-align: center !important;
}
.overlay{
  background-color: rgba(0,0,0,0.5);
  height:54em;
}
.drop>li>a:hover {
    color: #fff !important;
    text-decoration: none;
    background-color: #286090 !important;
}
.genbtn{
      color: #fff !important;
    text-decoration: none;
    background-color: #286090 !important;
}
.sectOne{
  background-image: url("../public/Images/computer_chart_3.jpg");
}
.sectTwo{
  background-image: url("../public/Images/computer_chart_2.jpg");
}
.sectThree{
  background-image: url("../public/Images/computer_chart_1.jpg");
}
.sect{
  height:54em;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position:center;
}
.subSect{
    height: 32em;
    background-color: rgba(0,0,0,0.5);
}
.padupbtn{
     position: relative;
    bottom: 30em;
}
.navigation-adjust{
  z-index:10;
      position: relative;
}
#changer{position:relative;}
#changer img{position:absolute;z-index:1}
#changer img.active{z-index:3}
.pageDetail{
     top: 28em;
         position: relative;
}
.CoverImage{
  width:100%;
  height:54em;
  background-size: cover;
  position:fixed;
}
.overlay-btn{
	background-color: transparent;
	border-style: double;
	border-color: #fff;
}
.icon-bar{
	color:#FFF;
}
.collapsed{
	background-color: transparent;
	border-style: double;
	border-color: #FFF;
}
.nav-color{
	background-color: transparent !important;
	border-color: transparent !important;
}

/*buttons*/
.custom-btn {
  color:#fff !important;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}
/**** BTN No. 1 ****/

.btn-1 {border: 2px solid #fff;}
.btn-1:hover {
  background: #fff !important;
  color: #000 !important;
}
.btn-1:active {top: 2px;}
.pad-btn-reg{
	padding: 25px 0px 0px 50px !important;
}
.pad-btn-signup{
	padding: 25px 50px 0px 20px !important;
}

#chartdiv {
  width: 100%;
  height: 400px;
}

#server-log {
  width: 100%;
  height: 200px;
  overflow: scroll;
  background: #ffffe0;
  border: 1px dotted #cdcdcd;
}

.sidebar{
  -webkit-box-shadow: 2px 1px 3px 0px rgba(50, 50, 50, 0.36);
-moz-box-shadow:    2px 1px 3px 0px rgba(50, 50, 50, 0.36);
box-shadow:         2px 1px 3px 0px rgba(50, 50, 50, 0.36);

height:54em;
}
.headerbar{
      background-color: black;
    color: white;
    border-radius: 10px;
}
.padleft{
  padding-left:35px;
}
.gauge{
      position: relative;
    left: 185px;
}
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ccc;
}

button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}