
	<div class="sect sectOne ">
		<div class="overlay"></div>
			<div class="container-fluid navigation-adjust">
				<div class="row">
					<div class="col-md-4 col-lg-4">
						
					</div>
					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 padupbtn">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<img src="https://s3.amazonaws.com/pantomathimages/logo.png" alt="logo">	
							</div>
							
						</div>
						<div class="row text-center">
								<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
									<button type="button" class="btn btn-lg custom-btn btn-1" ng-click="homeBtn('Register')">Register</button>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
									<button type="button" class="btn btn-lg custom-btn btn-1" ng-click="homeBtn('Sign In')" >Sign In</button>
									
								</div>				
						</div>
					</div>
					<div class="col-md-4 col-lg-4">
						
					</div>
				</div>
				
			</div>

	</div>
	<div class="subSect">hello</div>
	<div class="sect sectTwo"></div>
	<div class="subSect"></div>
	<div class="sect sectThree"></div>
	

	<!-- Modal -->
	<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog">
			
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">{{modal_title}}</h4>
				</div>
				<div class="modal-body">
					<form name="userForm" ng-submit="submitForm(user)" required> <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->
					<div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
						<label>Email</label>
						<input type="email" name="emailId" class="form-control" ng-model="user.emailId" required>
						<p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block" ng-pattern="regex">Enter a valid email.</p>
					</div>
					<div class="form-group"  ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine }">
						<label>Password</label>
						<input type="password" name="password" class="form-control" ng-model="user.password" ng-minlength="3" required>
						<p ng-show="userForm.password.$error.minlength" class="help-block">password is too short.</p>
					</div>
					
					<div class="modal-footer text-center">
						<button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">{{modal_title}}</button>
						<p ng-show="signinerror" class="help-block">User does not exist.</p>
						<p ng-show="registererror" class="help-block">User already exist.</p>
						<p ng-show="tryagain" class="help-block">User already exist.</p>
					</div>
				</form>
			</div>
			
		</div>
	</div>
</div>
